html {
	height: 100%;
	width: 100%;
	display: flex;
}

body {
	height: 100%;
	width: 100%;
	display: flex;
	flex-direction: column;
}

.fixtable {
	display: flex;
	flex-shrink: 1;
}

.noShrink {
	flex-shrink: 0;
}

.fillHeight {
	display: flex;
	flex-direction: column;
	height: 100%;
}