/* flexbox all the things */

html {
	height: 100%;
	display: flex;
}

body {
	height: 100%;
	display: flex;
	flex-direction: column;
}

.fixtable {
	display: flex;
}

h2 {
	flex-shrink: 0;
}

body {
	padding: 20px;
}

/* these styles will be copied over to .fixtable */

.fixtable table {
	border: 1px solid #aaa;
}

/* style header & footer */

.fixtable-header {
	border-bottom: 1px solid #aaa;
	background: #ddd;
}

.fixtable-footer {
	padding: 5px;
	border-top: 1px solid #aaa;
	background: #ddd;
}

/* style cells that are being edited */

.fixtable-cell-editing {
	padding: 0 !important;
}

.fixtable-cell-editing input {
	padding: 6px;
	font-style: italic;
}

/* kill double border between header & first row */

.fixtable table tbody tr:first-of-type td {
	border-top: none;
}