.fixtable {
	height: 250px;
}

/*.fixtable .table > thead > tr > th {
  padding: 0;*/
}

/*.fixtable-header {
	background: black;
}

.fixtable th {
	color: white;
}

.fixtable th > div,
.fixtable td {
	padding: 5px;
}*/