body {
	padding: 20px;
}

/* set table to fixed height */

.fixtable {
	height: 300px;
}

/* these styles will be copied over to .fixtable */

.fixtable table {
  border: 1px solid #aaa;
  padding-bottom: 10px;
  margin-bottom: 10px;
}

/* style header & footer */

.fixtable-header {
	border-bottom: 1px solid #aaa;
	background: #ddd;
}

.fixtable-footer {
	padding: 5px;
	border-top: 1px solid #aaa;
	background: #ddd;
}

/* kill double border between header & first row */

.fixtable table tbody tr:first-of-type td {
	border-top: none;
}