.fixtable {
	height: 300px;
}

body .fixtable table {
  border: 10px solid blue;
  padding-bottom: 10px;
  margin-bottom: 10px;
}

/*.fixtable .table > thead > tr > th {
  padding: 0;*/
}

/*.fixtable-header {
	background: black;
}

.fixtable th {
	color: white;
}

.fixtable th > div,
.fixtable td {
	padding: 5px;
}*/