<div class="fixtable">
    <div class="fixtable-inner">
        <table ng-class="options.tableClass">
            <thead>
                <tr>
                    <th ng-repeat="col in options.columns">
                        <div>{{ col.label }}</div>
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="row in data">
                    <td ng-repeat="col in options.columns">
                        {{ row[col.property] }}
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>