<div class="fixtable">
    <div class="fixtable-header"></div>
    <div class="fixtable-filters" ng-show="showFilters">
        <button type="button" ng-show="!options.realtimeFiltering">Apply</button>
    </div>
    <div class="fixtable-inner">
        <table ng-class="options.tableClass">
            <thead>
                <tr class="fixtable-column-headers">
                    <th ng-repeat="(colIndex, col) in options.columns">
                        <div ng-include="options.headerTemplate || 'fixtable/templates/headerCell.html'">
                        </div>
                    </th>
                </tr>
                <tr class="fixtable-column-filters">
                    <th ng-repeat="(colIndex, col) in options.columns">
                        <div ng-if="col.filter">
                            FILTER HERE
                        </div>
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="(rowIndex, row) in data">
                    <td
                    ng-repeat="(colIndex, col) in options.columns"
                    ng-include="getCellTemplate()"
                    ng-controller="cellCtrl"
                    ng-class="{'fixtable-cell-editing': editing, 'fixtable-cell-editable': col.editable}"
                    ng-click="beginEdit()">
                    </td>
                </tr>
            </tbody>
        </table>
        <div
        ng-if="loading"
        ng-include="options.loadingTemplate || 'fixtable/templates/loading.html'">
        </div>
    </div>
    <div
    class="fixtable-footer"
    ng-show="options.paging"
    ng-include="options.footerTemplate || 'fixtable/templates/footer.html'"
    onload="pagingOptions = options.pagingOptions">
    </div>
</div>