<div class="fixtable">
    <div class="fixtable-header"></div>
    <div class="fixtable-inner">
        <table ng-class="options.tableClass">
            <thead>
                <tr>
                    <th ng-repeat="(colIndex, col) in options.columns">
                        <div ng-include="options.headerTemplate || 'fixtable/templates/headerCell.html'">
                        </div>
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="(rowIndex, row) in data">
                    <td
                    ng-repeat="(colIndex, col) in options.columns"
                    ng-include="col.template || 'fixtable/templates/bodyCell.html'">
                    </td>
                </tr>
            </tbody>
        </table>
        <div
        ng-if="loading"
        ng-include="options.loadingTemplate || 'fixtable/templates/loading.html'">
        </div>
    </div>
    <div
    class="fixtable-footer"
    ng-show="options.paging"
    ng-include="options.footerTemplate || 'fixtable/templates/footer.html'"
    onload="pagingOptions = options.pagingOptions">
    </div>
</div>