<!-- Page

<button
type="button"
ng-disabled="pagingOptions.currentPage === 1"
ng-click="prevPage()">
	&laquo;
</button>

<input
type="text"
ng-model="pagingOptions.currentPage"
size="{{ totalPagesOoM }}">

<button
type="button"
ng-disabled="pagingOptions.currentPage === totalPages"
ng-click="nextPage()">
	&raquo;
</button>

of {{ totalPages }} -->

<button
type="button"
ng-disabled="pagingOptions.currentPage === 1"
ng-click="prevPage()">
	&laquo;
</button>

<input
type="text"
ng-model="pagingOptions.currentPage"
size="{{ totalPagesOoM }}">

<button
type="button"
ng-disabled="pagingOptions.currentPage === totalPages"
ng-click="nextPage()">
	&raquo;
</button>

<span ng-if="pagingOptions.pageSizeOptions.length > 1">

	&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;

	<select
	ng-model="pagingOptions.pageSize"
	ng-options="pageSize for pageSize in pagingOptions.pageSizeOptions">
	</select>

	&nbsp;items per page

</span>